<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>Typothèque Lycée Jacques Prévert</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />

    <style>
  {% for workshop in pages.find('/typotheque').children %}
    {% for font in workshop.children %}
        @font-face {
            font-family: '{{font.title}}';
            src: url('{{ base_url_absolute }}{{font.route}}/fichiersfontes/{{font.header.custom.fichiertypo|first.name}}') format('woff');
        }
        .{{ font.title }}{
            font-family:{{ font.title }};
        }
    {% endfor %}
   {% endfor %}

    </style>

{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/jquery-ui.js', 99) %}
    {% do assets.addJs('theme://js/functions.js', 98) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <div class="header">
        <p class="texte-back-colophon">Typothèque du DNMADE graphisme Augmenté</p>
        <h2>chic type<h2>
            <h5 class="accordion">infos + contact</h5>
        
        <div class="panel">
            <p class="texte-back-colophon colophon-open">Workshop réalisé par les deuxièmes années<br>de <a href="https://dnmade-prevert.fr" class="link-typo-texte">DNMADE</a> en mars 2023</p>
            <p class="texte-back-colophon">Site codé par<br>Odilon Aouatah,<br>Victor Facon<br>et Louise Roo
                <br><br>
                Textes par<br>Madeleine Meranger<br>et Emelyne Phung
                <br><br>
                Design par<br>Melany Charlec<br>et Scar Descalzi
                <br><br>
                Specimens par<br>Quentin Dissard<br>et Médéric Chapiseau
                <br><br>
                Encadré par Benjamin Dumond<br>de <a href="https://bonjourmonde.net/en" class="link-typo-texte">Bonjour Monde</a>
                <br>
                Sous la supervision<br>de Romuald Roudier
                <br><br><br>
                <a href="https://gitlab.com/bonjour-monde/projects/typotheque-prevert" class="link-typo">Typothèque Gitlab</a>
            </p>
        </div>
    </div>


{# panel header normal #}
    <div class="header-panel-font">
        <p class="texte-back-colophon">Typographie dessinée lors du workshop {{ workshop.title }} avec {{ workshop.header.custom.inviteworkshop }} en {{ workshop.header.custom.anneeworkshop }}.<br>{{ workshop.content }}</p>

        <h2>{{font.title}}<h2>
            <h5 class="accordion">{{ font.header.custom.auteur }}</h5>
        
        <div class="panel">
            <p>
                <a class="link-typo" href="{{ base_url_absolute }}{{font.route}}/fichiersfontes/{{font.header.custom.archivezip|first.name}}">Télécharger la font</a>
            </p>
        </div>
    </div>

    
{% endblock %}




<style type="text/css">

.header{
    text-align: center;
    padding-right: 20px;
}

.texte-back-colophon{
    font-size: 0.7em;
    line-height: 1.3em;
    color: var(--secondary-color);
}

h2{
    color: var(--primary-color);
    font-size: 4em;
    margin-top: -30px;
}

h5{
    font-size: 0.7em;
    margin-top: -8vh;
    margin-bottom: 2vh;
    color: var(--secondary-color);
}


.link-typo, .link-typo-texte{
    color: var(--primary-color);
}

.link-typo-texte{
    text-decoration: none;
}


.header-panel-font{
    width: auto;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    position: fixed;
    z-index: 3;
    background-color: var(--white-background-color);
    box-shadow: 10px 5px 10px rgba(255, 84, 0, 0.5);
    font-family: var(--primary-font);
}







</style>


{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
