<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8">
    <title>8 TYPES | Typothèque</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}">
    <link rel="canonical" href="{{ page.canonical(true)|e }}">

    <style>
  {% for workshop in pages.find('/typotheque').children %}
    {% for font in workshop.children %}
        @font-face {
            font-family: '{{font.title}}';
            src: url('{{ base_url_absolute }}{{font.route}}/fichiersfontes/{{font.header.custom.fichiertypo|first.name}}') format('woff');
        }
        .{{ font.title }}{
            font-family:{{ font.title }};
        }
    {% endfor %}
   {% endfor %}

    </style>

{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/custom.css', 98)%}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/jquery-ui.js', 99) %}
    {% do assets.addJs('theme://js/functions.js', 98) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}

    <hr id="trait-vertical-gauche">
    <hr id="trait-horizontal-haut">

    <div id="header-cote">
        <p>typothèqueeeeeeee</p>

    </div>

    <div class="header">

        <div class="header-gauche">
            <p>Typothèque du DNMADE graphisme augmenté</p>
        </div>

        <ul>
            <li class="infos-panel">infos</li>
            <li>|</li>
            <li><a href="https://dnmade-prevert.fr/" target="_blank">dnmade</a></li>
            <li>|</li>
            <li><a href="https://gitlab.com/louiseroo/TYPOTHEQUEEEEEEEEs" class="link-typotheque" target="_blank">gitlab</a></li>
            <li>|</li>
            <li class="credits-panel">credits</li>
        </ul>
    </div>

    <div id="trait-zoom"></div>
        
    <div class="infos-panel-description">
        <p>
            Site web conçu et développé par la&#160;promotion&#160;2021-2024 du&#160;<a href="https://dnmade-prevert.fr" target="_blank">DNMADE Graphisme Augmenté</a> en mars&#160;2023 lors d’un workshop initié par&#160;Romuald&#160;Roudier&#160;Théron et&#160;encadré par&#160;<a href="https://bonjourmonde.net/" target="_blank">Benjamin&#160;Dumont (Bonjour&#160;Monde)</a>.
            <br><br>
            Site web codé par 
            <a href="https://odilonath.fr/" target="_blank">Odilon&#160;Aouatah</a>, Victor&#160;Facon&#160;&&#160;<a href="https://louiseroo.fr/" target="_blank">Louise Roo</a>
            <br>
            Textes rédigés par <a href="https://madeleinemeranger.fr/" target="_blank">Madeleine&#160;Meranger</a> &&#160;<a href="https://emelynephung.com/" target="_blank">Emelyne&#160;Phung</a>
            <br>
            Design graphique par Melany&#160;Charlec, Scar&#160;Descalzi &&#160;<a href="https://quentindissard.com/" target="_blank">Quentin&#160;Dissard</a>
            <br>
            Spécimens typographiques par <a href="https://medericchapiseau.com/" target="_blank">Médéric&#160;Chapiseau</a> &&#160;<a href="https://quentindissard.com/" target="_blank">Quentin&#160;Dissard</a>  
            <br><br>
            Mis à jour en juillet 2025 par <a href="https://louiseroo.fr/" target="_blank">Louise&#160;Roo</a> &&#160;<a href="https://quentindissard.com/" target="_blank">Quentin&#160;Dissard</a>.
        </p>
    </div>

    <div class="credits-panel-description">
        <p>
            Nous tenons à&#160;remercier dans l’ordre et&#160;le&#160;désordre tous les&#160;étudiant·e·s et&#160;ancien·ne·s qui&#160;ont&#160;généreusement accepté que&#160;leurs typographies soient présentées et&#160;mises&#160;en&#160;valeur dans ce&#160;projet&#8239;:<br><br>

            <a href="https://eulaliearies.fr/" target="_blank">Eulalie&#160;Aries</a>, 
            Sophie&#160;Aubé, 
            <a href="https://laureazizi.fr/" target="_blank">Laure&#160;Azizi</a>, 
            <a href="https://erwanbatnini.github.io/portfolio/" target="_blank">Erwan&#160;Batnini</a>, 
            <a href="https://maiwennbrochen.fr/" target="_blank">Maïwenn&#160;Brochen</a>, 
            Am&#160;Courbot, 
            <a href="https://leilacp.fr/" target="_blank">Leïla&#160;Courset</a>, 
            <a href="https://marinedrouin.fr/" target="_blank">Marine&#160;Drouin</a>, 
            <a href="https://www.laura-francois.fr/" target="_blank">Laura&#160;François</a>, 
            Louanne&#160;Fournier, 
            <a href="https://pazteks.com/" target="_blank">Léo&#160;Gobin</a>, 
            <a href="https://sarahgarraud.fr/" target="_blank">Sarah&#160;Garraud</a>, 
            <a href="https://elisagandon.github.io/" target="_blank">Élisa&#160;Gandon</a>, 
            Martin&#160;Gouriou, 
            <a href="https://emmagrosu.ch/" target="_blank">Emma&#160;Grosu</a>, 
            <a href="https://mailie-hombert.github.io/" target="_blank">Maïlie&#160;Hombert</a>, 
            <a href="https://juliakoussa.fr/" target="_blank">Julia&#160;Koussa</a>, 
            Maïlys&#160;Larmitou, 
            <a href="https://antoineliberman.fr/" target="_blank">Antoine&#160;Liberman</a>, 
            <a href="https://emelinemartin.fr/" target="_blank">Emeline&#160;Martin</a>, 
            <a href="https://aurelienmaufroid.fr/" target="_blank">Aurélien&#160;Maufroid</a>, 
            Sarah&#160;Marouzé, 
            <a href="https://jessymoreira.fr/" target="_blank">Jessy&#160;Moreira</a>, 
            Tonya&#160;Palcy, 
            Elodie&#160;Perez, 
            <a href="https://enora-pichavant.myportfolio.com/" target="_blank">Enora&#160;Pichavant</a>, 
            <a href="https://ivoquerniard.com/" target="_blank">Ivo&#160;Querniard</a>, 
            <a href="https://josselinrome.fr/" target="_blank">Josselin&#160;Romé</a>, 
            Julia&#160;Rodriguez, 
            <a href="https://vertpierre.com/" target="_blank">Pierre&#160;Roussel</a>, 
            <a href="https://clarasaffre.github.io/" target="_blank">Clara&#160;Saffre</a>, 
            <a href="https://discontrol-studio.com/" target="_blank">Candice&#160;Terle</a>, 
            <a href="https://www.leatoluzzo.fr/" target="_blank">Léa&#160;Toluzzo</a>, 
            <a href="http://yassminetissaoui.cf/?i=2" target="_blank">Yassmine&#160;Tissaoui</a>, 
            <a href="https://marion-villette.github.io/" target="_blank">Marion&#160;Villette</a>. 
            <br><br>

            Un grand merci également à celles et ceux qui ont mené les&#160;workshops de&#160;création typographique au&#160;fil des années&#8239;:<br><br>

            <a href="https://www.lucasdescroix.fr/" target="_blank">Lucas&#160;Descroix</a> - 2021<br>
            <a href="https://www.rmfrt.com/" target="_blank">Rémi&#160;Forte</a> - 2022<br>
            <a href="https://www.instagram.com/morgane_pierson/?hl=fr" target="_blank">Morgane&#160;Pierson</a> - 2023<br>
            <a href="https://bonjourmonde.net/" target="_blank">Benjamin&#160;Dumont</a> - 2024<br><br>

            Les typographies présentées sur&#160;ce&#160;site sont publiées sous licence Open Source, afin d’encourager leur diffusion, réutilisation et&#160;évolution. La&#160;majorité des&#160;caractères sont diffusés sous la&#160;SIL&#160;Open&#160;Font&#160;License&#160;(OFL) ou&#160;des&#160;licences Creative&#160;Commons compatibles. Les&#160;fichiers fontes et&#160;les&#160;spécimens sont disponibles sur&#160;le&#160;GitLab.

        </p>
    </div>




    <div class="header-panel-font">
        <div class="haut-panel-font">
            <ul class="liste-colonne-total">
                <li class="conteneur-textes-typos-panel">
                    <ul class="sous-conteneur-textes-typos">
                        <li class="texte-intro-typo">
                            <p>Typographie dessinée lors du workshop <span class="workshoptitle"></span> avec <span class="inviteworkshop"></span> en <span class="anneeworkshop"></span>.</p>
                        </li>
                        <li class="texte-workshop">
                            <p><span class="workshoptexte"></span></p>
                        </li>
                    </ul>
                </li>

                <li class="bloc-sans-image-panel-font">
                    <div class="diagonale first"></div>
                    <div class="diagonale second"></div>
                </li>
            </ul>
        </div>

        <div class="font-title"><h2><span class="fonttitle"></span></h2></div>

        <div class="bas-panel-font">
            <div>
                <ul>
                    <li class="etudiants-typos">étudiant·e</li>
                    <li class="textes-droite-typos"><span class="auteurfont"></span></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li class="telecharger-typos"><a class="link-typo" href="">Télécharger la font</a></li>
                    <li class="textes-droite-typos"><a href="https://gitlab.com/bonjour-monde/projects/typotheque-prevert/-/tree/main/specimens" target="_blank">Specimens</a></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>

</html>
