{% extends 'partials/base.html.twig' %}


{% block content %}

  <div class="colophon">
    {{ page.find('/typotheque').content|markdown }}
  </div> 

  {% for post in pages.find('/typotheque').children %}
          <h1 class="{{ post.title }}" ><a href="{{ base_url_absolute }}{{post.route}}/fichiersfontes/{{post.header.custom.archivezip|first.name}}">{{ post.title }}</a></h1>
          <div>Auteur(s) : {{ post.header.custom.auteur }}</div>
          <div>Année : {{ post.header.custom.datesortie }}</div>
  {% endfor %}
  
{% endblock %}

