{% extends 'partials/base.html.twig' %}


{% block content %}


{# texte intro colophon #}
{#   <div class="colophon">
    {{ page.find('/typotheque').content|markdown }}
  </div> 

 #}



{# texte des fonts #}
<div class="box target">
  <div class="zoom-conteneur" id="conteneur">
    {% for workshop in pages.find('/typotheque').children %}
      {% for font in workshop.children %}
      <div class="entree-font" data-workshop-name="{{ workshop.title }}" data-workshop-annee="{{ workshop.header.custom.anneeworkshop }}" data-workshop-invite="{{ workshop.header.custom.inviteworkshop }}" data-workshop-informations="{{ workshop.content }}">
            <h1 class="{{ font.title }}" data-font-date="{{ font.header.custom.datesortie }}" data-font-lientelechargement="{{ base_url_absolute }}{{font.route}}/fichiersfontes/{{font.header.custom.archivezip|first.name}}" data-font-auteur="{{ font.header.custom.auteur }}" contenteditable>manger des fleurs</h1>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>


<div id="buttons">
  <div class="btn zoom"></div>
  <div class="btn zoom-out"></div>
  <div class="btn zoom-init"></div>
</div>




  
{% endblock %}

